@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Nunito;
  src: url(/font/Nunito-VariableFont_wght.ttf);
}

@font-face {
  font-family: Playfair;
  src: url(/font/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(/font/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(/font/Roboto-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  /* background-color: #828282; */
  /* background-color: #fdc4357f; */
  font-family: Nunito;
}

h1,
h2 {
  font-family: Playfair;
  font-size: 2rem;
}

h3 {
  font-family: Playfair;
  font-size: 1.5rem;
}

p,
li {
  font-size: 1.2rem;
  color: #828282;
}

a {
  font-family: Raleway;
  color: #fdc435;
}

a:hover {
  color: #828282;
}

.active {
  border-bottom: 1px solid #fdc435;
}
