.swiperBigImg {
  width: 100%;
}

.swiperBigImg .swiper {
  width: 100%;
}

.swiperBigImg .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
}

.swiperBigImg .swiper-slide img {
  width: 100%;
  object-fit: cover;
}

.swiperImgThumbs {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiperImgThumbs .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  cursor: pointer;
}

.swiperImgThumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fdc435;
}
